
.page_md5{

  .content_layout{

    margin-top: 20px;

    .operate{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;

      .btn_operate{
        margin: 10px 0 ;
      }
    }

    .area{
      resize: none;
      height: 350px;
    }

    .copy{
      margin-top: 10px;
    }

  }

}
